In [1]:
import pandas as pd
import numpy as np

In [2]:
security_df = pd.read_csv("./datasets/security_incidents.csv")

In [3]:
security_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Incident ID               4337 non-null   int64
 1   Year                      4337 non-null   int64
 2   Month                     4289 non-null   float64
 3   Day                       3957 non-null   float64
 4   Country Code              4304 non-null   object
 5   Country                   4332 non-null   object
 6   Region                    3970 non-null   object
 7   District                  3601 non-null   object
 8   City                      3349 non-null   object
 9   UN                        4337 non-null   int64
 10  INGO                      4337 non-null   int64
 11  ICRC                      4328 non-null   float64
 12  NRCS and IFRC             4328 non-null   float64
 13  NNGO                      4328 non-null   float64
 14  Other                     4337 non-null   int64
 15  Nationals killed          4337 non-null   int64
 16  Nationals wounded         4337 non-null   int64
 17  Nationals kidnapped       4337 non-null   int64
 18  Total nationals           4337 non-null   int64
 19  Internationals killed     4337 non-null   int64
 20  Internationals wounded    4337 non-null   int64
 21  Internationals kidnapped  4337 non-null   int64
 22  Total internationals      4337 non-null   int64
 23  Total killed              4337 non-null   int64
 24  Total wounded             4337 non-null   int64
 25  Total kidnapped           4337 non-null   int64
 26  Total affected            4337 non-null   int64
 27  Gender Male               4337 non-null   int64
 28  Gender Female             4337 non-null   int64
 29  Gender Unknown            4337 non-null   int64
 30  Means of attack           4337 non-null   object
 31  Attack context            4337 non-null   object
 32  Location                  4337 non-null   object
 33  Latitude                  4324 non-null   float64
 34  Longitude                 4324 non-null   float64
 35  Motive                    4333 non-null   object
 36  Actor type                4337 non-null   object
 37  Actor name                4329 non-null   object
 38  Details                   4337 non-null   object
 39  Verified                  4336 non-null   object
 40  Source                    4337 non-null   object
dtypes: float64(7), int64(20), object(14)
memory usage: 1.4+ MB

In [11]:
simple_df = security_df.head(2) 
simple_df.to_csv('./datasets/simple.csv', index=False)
simple_df

,Incident ID,Year,Month,Day,Country Code,Country,Region,District,City,UN,...,Attack context,Location,Latitude,Longitude,Motive,Actor type,Actor name,Details,Verified,Source
0,1,1997,1.0,NaN,KH,Cambodia,Banteay Meanchey,NaN,NaN,0,...,Unknown,Unknown,14.070929,103.099916,Unknown,Unknown,Unknown,1 ICRC national staff killed while working in ...,Archived,Archived
1,2,1997,1.0,NaN,RW,Rwanda,Northern,Musanze,Ruhengeri,0,...,Raid,Office/compound,-1.499840,29.634970,Unknown,Unknown,Unknown,"3 INGO international (Spanish) staff killed, 1...",Archived,Archived